.App {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: "header main""header footer";
}

header {
    grid-area: header;
    background: #FAFBFD;
    padding: 0rem 3.5rem;
}

.header-content {
    margin: 3rem auto;
}

nav {
    margin-top: 7.5rem;
}

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 1.5rem;
    color: #9E9E9E;
    transition: all 200ms;
}

.nav-links li:hover {
    color: #090F31;
}

/* ******** Main Section ********* */
main {
    grid-area: main;
    padding-block: 2rem;
    background: #FFF;

    display: grid;
    place-items: center;
}

.btns-ctn {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    align-items: end;
}

.button-ctn {
    margin: 1.75rem 0rem;
    margin-right: 8rem;
}

.btn-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #333333;

    display: block;
    margin-bottom: 0.75rem;
}



/* ******** Footer ************** */

footer {
    grid-area: footer;
    background: rgb(40, 40, 40);

    display: grid;
    place-items: center;
}

footer p {
    color: #9E9E9E;
}

footer p span {
    margin-right: 0.5rem;
}

footer p a {
    color: #828282;
}

ul {
    padding-left: 24px;
}

li {
    margin-bottom: 8px;
}

.welcome,
.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.welcome-text {
    font-weight: 500;
}

.welcome-text p {
    font-size: 1rem;
    font-weight: 400;
}

.welcome-text h1 {
    font-size: 1.5rem;
}

.welcome-text a {
    color: #f7542e;
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F7542E;
}

.logo-black {
    color: #090F31;
}